<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.mybatisplus.mapper.TExchangeInfoRateLimitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.mybatisplus.entity.TExchangeInfoRateLimit">
        <id column="id" property="id" />
        <result column="api_key" property="apiKey" />
        <result column="exchange_name" property="exchangeName" />
        <result column="interval_name" property="intervalName" />
        <result column="interval_num" property="intervalNum" />
        <result column="limit_num" property="limitNum" />
        <result column="rate_limit_type" property="rateLimitType" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
