<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.mybatisplus.mapper.TMarkPriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.mybatisplus.entity.TMarkPrice">
        <result column="id" property="id" />
        <result column="exchange_id" property="exchangeId" />
        <result column="type" property="type" />
        <result column="symbol" property="symbol" />
        <result column="price_mark" property="priceMark" />
        <result column="price_spot" property="priceSpot" />
        <result column="ts_last_update" property="tsLastUpdate" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
